html {
  font-size: 18px;
}

body {
  direction: rtl;
  overflow-x: hidden;
  background-color: #f9f9f9;
  color: #454545 !important;
}

.no-shaddow {
  box-shadow: none !important;
}

.text-blue {
  color: #003865 !important;
}

.text-grey {
  color: #454545 !important;
}

.main-titles-logo {
  width: 20vw;
  height: 20vw;
  max-width: 150px;
  max-height: 150px;
}

.w-60 {
  width: 60% !important; 
}

.mw-50 {
  max-width: 50% !important;
}

.mw-60 {
  max-width: 60% !important;
}

.my-10 {
  margin-top: 10rem !important;
  margin-bottom: 10rem !important;
}

.px-8 {
  padding-right: 8rem !important;
  padding-left: 8rem !important;
}

.px-15 {
  padding-right: 15rem !important;
  padding-left: 15rem !important;
}

.min-width-300 {
  min-width: 300px;
}

.container-semi-fluid {
  width: 100% !important;
  padding: 5rem !important;
}

.pt-100 {
  padding-top: 100%;
}

.outline-none {
  outline: none !important
}

.square-col:before {
  content: '';
  width: 0;
  padding-top: 100%;
}

/* .square-col:before {
  content: '';
  width: 0;
} */

.square-col:before,
.square-col-contet {
  white-space: normal;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
}

.square-col:before {
  padding-top: 100%;
  /* makes expand to a square */
}

.square-col:hover {
  background-color: white;
  box-shadow: 0px 3px 10px 0px #00000030;
}

.bottom-5rem {
  bottom: 5rem;
}

.p-absolute {
  position: absolute;
}

.p-relative {
  position: relative;
}

.smooth-rounded-left {
  border-top-left-radius: 40px !important;
  border-bottom-left-radius: 40px !important;
}

.smooth-rounded-right {
  border-top-right-radius: 40px !important;
  border-bottom-right-radius: 40px !important;
}

.smooth-rounded {
  border-radius: 40px !important;
}

.ml--3 {
  margin-left: -2rem !important;
}

.mr--3 {
  margin-right: -2rem !important;
}

.top-0 {
  top: 0 !important;
}

.left-0 {
  left: 0 !important;
}

.nav-item .nav-link:hover {
  text-decoration: none !important;
}